@font-face {
  font-family: Averta Std CY;
  src: url("./assets/font/IntelligentRegular_3.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Averta Std CY";
}
.Nav {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 70px;
  z-index: 1;
}
.Nav:hover {
  background-color: #16a571;
}
@media screen and (max-width: 1400px) {
  .Nav {
    background-color: #16a571;
  }
}
